$ContainerWidth: 1400px;

$LogoMargin: 39px 0 0 120px;
$CedarvileFont: Cedarville Cursive;
$JosefinSans: Josefin Sans;
$CedarvileWeights :(
    'normal': 400,
    'medium': 500,
    'bold': 700
);

$Line-heights :(
    'normal': normal,
    'inherit':inherit,
    'revert':revert,
    'revert-layer':revert-layer,
    'unset': unset
);
$Site-name-margin: 39px 0 0 13px;
$HeaderBorderAnimate: 2px #000000 solid;

